body
{
    color:black;
    text-align: left ;
    font-family: 'Courier New', Courier, monospace;    
}
#cabecera
{
    background:lightblue;
    color: darkblue ;
    margin: 0;
    padding: 0.5em;
}
#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid purples;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}